@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
body {
	font-size: 16px;
	font-family: "Oxygen", Ubuntu, sans-serif;
}
main {
	max-width: 767px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
h1, h2 {
    background-color: rgb(44, 44, 101);
    color: white;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
h3 {
    background-color: rgb(74, 74, 78);
    color: white;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
    border-radius: 15px;
}
p, a {
    margin: 1rem;
}
main section h2 {
	color: #536878;
}
main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	background-color: #eee;
    border-radius: 15px;
}
main section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}
img {
    display: block;
    max-width: 400px;
    height: auto;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}