.title {
    text-align: center;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

/* from MDN tutorial */
article img[data-src] {
    filter: blur(0.2em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  