@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body {
	padding: 0;
	margin: 0;
}
.banner {
    background-color: #53ad7e;
    font-family: "Josefin Sans";
    padding: 1rem;
    border-radius: 5px;
}
h1, h2, h3, form legend {
    font-family: "Josefin Sans", sans-serif;
}
legend {
    margin-top: 30px;
}
p, label, .weathertype {
    font-family: Arial;
}
.weathertype {
    font-style: italic;
}
header {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #102812;
    color: white;
}
.meeting {
    display: block;
    font-family: Arial, sans-serif;
    padding: 15px;
    background-color: #53ad7e;
    border-radius: 15px;
    margin: 15px;
}
.logo {
	max-width: 60px;
    margin: 0;
    padding: 0;
    grid-column: 1;
    grid-row: 1/2;
}
.heading {
    font-family: "Josefin Sans", sans-serif;
    color: white;
    margin-left: 1rem;
}
.subhead {
	font-size: 0.8rem;
    margin-top: 0;
}
.social1 img, .social2 img {
    width: 25px;
}
.social1 {
    grid-column: 5;
    grid-row: 1;
    margin-top: 10px;
}
.social2 {
    grid-column: 6;
    grid-row: 1;
    margin-top: 10px;
}
.date {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    color: black;
    text-align: center;
    grid-column: 1/7;
    grid-row: 3;
    background-color: #53ad7e;
    padding: 1rem;
}
.navigation {
	list-style: none;
	padding: 0;
    margin: 3rem;
    font-family: Arial;
    color: white;
    text-align: right;
}
nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}
nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: white;
    text-align: center;
}
nav ul li a:hover {
    background-color: #53ad7e;
}
.active {
    font-weight: bold;
    text-decoration: underline;
}
.hero, .event, .news, .theater, .chs, .hike, .join, .weather {
    padding: 20px;
    margin: .5rem;
    background-color: #BCE3ff;
    border-radius: 5px;
    text-align: center;
}
.hero {
    position: relative;
}
.hero img {
    max-width: 25rem;
}
.hero button {
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    bottom: 1.5rem;
    left: 9rem;
    background-color:#102812;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
}
.hero button:hover {
    background-color: #BCE3ff;
    color: black;
}
main img {
    max-width: 25rem;
    height: auto;
    align-items: center;
}
.join button, .submitBtn {
    font-family: "Josefin Sans", sans-serif;
    background-color:#102812;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1rem;
}
.join button:hover, .submitBtn:hover {
    background-color: #53ad7e;
}
.submitBtn {
    display: block;
    margin-left: 1rem;
    margin-bottom: 20px;
}
.pgtitle {
    padding-left: 20px;
}
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    background-color: #BCE3ff;
    padding: 25px;
    border-radius: 15px;
}
.gallery img[data-src] {
    filter: blur(0.2em);
}
.gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
    border-radius: 5px;
    transition: transform .4s;
}
.gallery img:hover {
    transform: scale(1.1);
}
.theater img, .chs img, .hike img {
    max-width: 100px;
}
footer {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #244266;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
footer a {
    color: white;
    padding-bottom: .8rem;
}
.logosmall {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

form fieldset {
    margin: 2rem 1rem;
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem 2%;
}
form label.top {
    display: block;
    padding-top: 30px;
    font-size: .8rem;
}
form label.top input {
    display: block;
    padding: .75rem;
    border-radius: 5px;
    color: #555;
    font-size: 1rem;
    width: 100%;
    max-width: 20rem;
    background-color: #BCE3ff;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
}
form label.top input:required {
    border-left: #244266 solid 6px;
}
form label.top input:required:valid {
    border-left: #53ad7e solid 6px;
}
.memberships {
    display: none;
}

/* directory page */
.grid .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.cards section {
  margin: 0.5rem;
  padding: 0.35rem;
  background-color: #BCE3ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards img {
    width: auto;
    max-width: 325px;
    height: 200px;
    padding-top: 25px;
}
.cards p {
    margin: 10px;
}
.cards li > img {
  width: auto;
  height: 30px;
}
.menu {
	margin: 1rem;
    border-radius: 15px;
	padding: 1rem;
	background-color: #244266;
	text-align: center;
}
.menu button {
	padding: 1rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: #BCE3ff;
    border: none;
    border-radius: 8px;
}
.menu button:hover {
    background-color: #53ad7e;
}
.list {
	display: flex;
	flex-direction: column;
}
.list section {
	display: flex;
	align-items: center;
}
.grid section {
	flex-direction: column;
	text-align: center;
}
.list section {
	flex-direction: row;
	justify-content: left;
}
.list section > * {
	margin: 0 1rem;
	text-align: left;
}
.list section img {
	display: none;
}
section h3 {
	font-size: 1.5rem;
}
section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}
article img {
	height: 75px;
	max-width: 100%;
}