@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body {
	padding: 0;
	margin: 0;
}
.navigation {
	list-style: none;
	padding: 0;
    margin: 0;
}
nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
}
nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #333;
}
img {
    width: 5rem;
}