@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
body {
	padding: 0;
	margin: 0;
}
header {
    display: flex;
    margin: 0;
}
.heading {
    font-family: "Josefin Sans", sans-serif;
    display: flex;
	flex-direction: column;
	margin-left: .5rem;
}
.subhead {
    letter-spacing: 1pt;
	font-weight: 700;
	font-size: 0.8rem;
}
.socials {
    justify-items: right;
}
.navigation {
	list-style: none;
	padding: 0;
    margin: 0;
    font-family: Arial;
}
nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}
nav ul li a {
    display: block;
    padding: .8rem;
    text-decoration: none;
    color: #333;
}
nav ul li a:hover {
    background-color: teal;
}
.date {
    font-family: Arial;
}
img {
    width: 5rem;
}