@media only screen and (min-width: 40rem) {
	.btn {
		display: none;
	}
	.navigation {
		display: flex;
		background-color: #102812;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation a hover {
		text-align: center;
		background-color: #53ad7e;
	}
	.navigation li:first-child {
		display: none;
	}
	.socials {
		justify-content: end;
		margin-right: 1rem;
	}
	.logo {
		width: 100px;
		height: auto;
		padding: 1rem;
	}
	.heading {
		font-family: "Josefin Sans", sans-serif;
		color: white;
		margin-left: 1rem;
	}
	.subhead {
		font-size: 1rem;
		margin-top: 0;
	}
	.title {
		font-size: 2rem;
		grid-column: 3/5;
	}
	.main-grid {
		display: grid;
        grid-template-columns: 20% 60% 20%;
    }
}