@media only screen and (min-width: 40rem) {
	button {
		display: none;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.socials {
		justify-content: end;
		margin-right: 1rem;
	}
	.logo {
		width: 100px;
		height: auto;
		padding: 1rem;
	}
	.heading {
		font-family: "Josefin Sans", sans-serif;
		display: flex;
		flex-direction: column;
		color: white;
		margin-left: 1rem;
	}
	.subhead {
		font-size: 1rem;
		margin-top: 0;
	}
	.title {
		font-size: 2rem;
	}
}