@media only screen and (min-width: 760px) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
	.main-grid {
        grid-template-columns: 20% 60% 20%;
    }
    .event-box {
        grid-column: 1;
        grid-row: 1;
        padding: 2rem;
    }
    .weather-box {
        grid-column: 1;
        grid-row: 2;
    }
    main .join-box {
        grid-column: 1;
        grid-row: 3;
        padding: 2rem;
        position: relative;
    }
    .hero-box {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .hero-box a  {
        text-decoration: none;
    }
    #joinBtn {
        position: absolute;
        top: 70%;
        height: 3rem;

    }
    .news-box {
        grid-column: 2/3;
        grid-row: 3;
        padding: 2rem;
    }
    .spotlight-box {
        grid-column: 3;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;

    }
    .spot1, .spot2, .spot3 {
        display: block;
        width: 300px;
        padding: 0;
        border: 1px solid #CCC;
        margin: .5rem;
        max-width: 95%;
    }
    .spot3 img {
        max-width: 300px;
}
    #footer-box {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        padding: 0 10%
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
    }
    #address {
        grid-column: 2;
        grid-row: 1;
    }
    #contact {
        grid-column: 3;
        grid-row: 1;
    }
}