@media only screen and (min-width: 32.5em) {
    img {
        grid-column: 2/4;
        margin-bottom: 200px;
        justify-self: center;
        background-color: lightgray;
        padding: 20px;
        margin-left: 50px;
    }
}