@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&display=swap');
body {
	padding: 0;
	margin: 0;
}
h1, h2, form legend {
    font-family: "Flamenco", sans-serif;
    font-weight: 400;
}
h3 {
    padding-top: 50px;
}
h3, h4 {
    font-family: "Flamenco", sans-serif;
    font-weight: 300;
}
h2 {
    font-size: 2rem;
}
p, a {
    font-family: Arial, Helvetica, sans-serif;
}

/* nav and hero */
nav {
    position: fixed;
    top: 0;
    background-color: #2e294e;
    width: 100%;
    height: auto;
    z-index: 1;
}
nav h1 a {
    font-family: "Flamenco", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-left: 150px;
    text-align: center;
    position: fixed;
    color: white;
    text-decoration: none;
}
.navigation {
    margin: 0 auto;
	display: block;
    font-family: Arial;
    color: white;
    justify-content: right;
}
nav button {
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.responsive li {
	display: block;
}
nav ul li a {
    margin: 0 auto;
    display: block;
    padding-right: 2rem;
    text-decoration: none;
    color: #c5d86d;
    text-align: center;
}
nav ul li a:hover {
    text-decoration: underline;
}
.active {
    font-weight: bold;
}
.heroimg {
    margin: 0 auto;
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    z-index: -2;
}
.hero h1, .hero button{
    position: absolute;
}
.hero h1 {
    color: white;
    text-shadow: 2px 2px 15px #000000;
    font-size: 3rem;
    margin-top: 80px;
    margin-left: 70px;
}
.hero button {
    background-color: #c5d86d;
    color: #2e294e;
    border: white;
    padding: 15px;
    margin-top: 150px;
    margin-left: 180px;
    border-radius: 30px;
    box-shadow: 2px 2px 15px #c5d86d;
}
.hero button:hover {
    background-color: white;
    color: #f46036;
    text-decoration: underline;
}

/* main */
main {
    padding: 50px;
}
.aboutimg {
    border-radius: 30px;
}

/* weather */
.weather, .drink-box {
    margin: 0 auto;
    margin-top: 50px;
    background-color: #1b998b;
    color: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

/* form */
form {
    padding-top: 50px;
}
legend {
    font-size: 130%;
    padding: 15px;
}
label {
    font-family: Arial, Helvetica, sans-serif;
}
form label.top {
    display: block;
}
form label.top input {
    display: block;
    padding: .75rem;
    border-radius: 5px;
    color: #1b998b;
    font-size: 1rem;
    width: 100%;
    max-width: 20rem;
    background-color: #eaf8b0;
}
form label.sbs {
    display: block;
    padding: 20px;
}
form label.top input:required {
    border-left: #d7263e solid 6px;
}
form label.top input:required:valid {
    border-left: #1b998b solid 6px;
}
.submitBtn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d7263d;
    color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}
.submitBtn:hover {
    background-color: #1b998b;
}

/* footer */
footer {
    text-align: center;
    background-color: #c5d86d;
    padding: 20px;
}
.sns img {
    display: flex;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 40px;
    max-height: 40px;
}