@media only screen and (min-width: 60rem) {
    nav {
        height: 80px;
    }
    .navigation {
		display: flex;
        padding: 25px;
        font-size: 20px;
	}
	.navigation li {
		display: block;
	}
	nav button {
		display: none;
	}
    nav h1 a {
        font-family: "Flamenco", sans-serif;
        font-weight: 400;
        margin: 0 auto;
        padding: 20px;
        position: fixed;
        color: white;
        text-decoration: none;
    }

    main {
        padding: 100px 250px;
    }

    .hero h1 {
        margin-left: 70px;
        margin-top: 200px;
        font-size: 8rem;
    }
    .hero button {
        padding: 30px;
        margin-top: 400px;
        margin-left: 650px;
        border-radius: 45px;
        justify-items: center;
        font-size: 1.3rem;
    }

    .weathergrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .weather {
        grid-column: 1/2;
    }
}