@media only screen and (min-width: 45rem) {
    .navigation {
		display: flex;
        text-align: left;
	}
	.navigation li {
		display: block;
	}
	nav button {
		display: none;
	}
    nav h1 a {
        font-family: "Flamenco", sans-serif;
        font-weight: 400;
        margin: 0;
        text-align: center;
        color: white;
        text-decoration: none;
    }

    .hero h1 {
        font-size: 5rem;
    }
    .hero button {
        margin-top: 200px;
    }

    footer {
        background-color: #c5d86d;
        padding: 50px;
    }
}