@media only screen and (min-width: 32.5em) { 
    h1 {
        font-size: 2em;
        padding-bottom: 100px;
        grid-column: 2/4;
        grid-row: 5/6;
    }
    h2 {
        font-size: 1.5em;
    }
    h3, h4, a {
        font-size: 1em;
    }
    img {
        grid-column: 2/4;
        min-height: 350px;
        width: auto;
    }
    .links {
        grid-column: 5;
    }
    .rectangle {
    grid-column: 4/9;
    grid-row: 1/7;
}
h3 {
    grid-column: 5/9;
    grid-row: 6;
}
h4 {
    grid-column: 5/8;
    grid-row: 6;
    margin-top: 30px;
}
}